

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

.content {
  font-family: "OpenSansLight";
  color: #444;
  border: 1px solid #444;
  margin: 2em auto 0 auto;
}

.box {
  margin: 1em;
  padding: 1.5em;
}

.box tr {
  display: block;
  font-size: 1.5em;
}

.numbers tr {
  width: 500px;
}

.numbers tr td, .numbers tr th {
  padding: 0.3em;
}

span.icon {
  font-family: "WebSymbolsRegular";
}

span.user {
  display: inline;
  float: left;
  margin-bottom: -30px;
  margin-left: 9px;
  margin-top: 12px;
}

.numbers tr td {
  width: 10em;
  height: 30px;
  vertical-align: middle;
}

.box tr td input[type=tel] {
  width: 12em;
  text-align: center;
  font-family: "OpenSansLight";
}

.box input, .box select, .box button {
  font-family: "OpenSansLight";
  height: 30px;
  border: 1px solid transparent;
  vertical-align: middle;
  background: transparent;
}

input[type=tel]:hover {
  border: 1px solid #bbb;
}

.box button {
  font-size: 0.83em;
  vertical-align: middle;
}

th {
  font-family: "OpenSansBold";
  font-weight: normal;
}

td.then {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.0em;
  padding-top: 0.1em; 
}

.box td {
  margin: 0;
}

tr.rule {
  padding: 0;
  border-radius: 5px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

